# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Tensorflow
4. Matplotlib
5. Pandas

|Data Science Tools|
|---|
|Apache Hadoop|
|Tensorflow|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* List popular langiages for data science
* List populat libraries for data science
* List of known data science tools
* how to create comments in a code cell
* how to use different heading types
* how to create a table

## Author
Sivaramakrishnan Santhanaraman